.sidebar-background {
    background-image: url('/https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.careerindia.com%2Fcolleges%2Fiit-kharagpur-west-midnapore-west-bengal-cp9494%2F&psig=AOvVaw3wGaRo1lDL7cfXRIU3QoQP&ust=1723789662890000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLDw7fuu9ocDFQAAAAAdAAAAABAZ');
    background-size: cover;
    background-position: center;
  }
  